.container{
    text-align: center;
}
.title{
    margin-top: 50px;
    color: black;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title span{
    color:aqua;
    padding: 15px;
}
.reset{
    width: 100px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #AE85FF;
    font-size: 20px;
    color: aqua;
    font-weight: bold;
    box-shadow: 0px 10px 36px 16px rgba(0,0,0,1);
}
.cell{
    display: flex;
    height: 80px;
    width: 80px;
    background: white;
    border-radius: 12px;
    cursor: pointer;
}
.board{
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    gap: 10px;
    justify-content: center;
    margin-bottom: 85px;
}
.cell img{
    max-width: 50px;
    max-height: 50px;
    margin:auto;
}
.announcement{
    color: #FFA500;
}
